#footer .f{text-align:center;color:#777777;}
			<! -- body{background-color:URL('')} -->
			#cr{background-color:#EEEEEE; border:2px solid #999999; width:900px; }
			#ts{min-height:500px;}
			#menu{width:100%; text-align:center; table-layout: fixed;width: 100%;}
			#menu .d{background:  #333; text-shadow:1px 1px 1px rgba(0,0,0,0.74); color: #fff; height:50px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 23pt;}
			#nnavv{float:left; margin-bottom: 10; list-style: none; font-weight: bold; width: 100%;	margin-left: 0px; padding: 0px;
			}
			#nnavv li{ float: left; display: block; margin-right: 10; position: relative; width:30%; float: left; margin-left: 2%; text-align: center;

			}
			#nnavv li a{ background: #333; display: block; padding: 5; color: #fff; 
				text-decoration:none;-moz-border-radius: 2; -webkit-border-radius: 2;
				border-radius: 2; text-shadow:1px 1px 1px rgba(0,0,0,0.74);
			}
			#nnavv li a:hover{ text-decoration: underline; background: #6b0c33; color: #fff;
			background: rgba(108,13,53,0.74);
			}
			#nnavv ul{ list-style:none; left:-9999px; opacity:0; -webkit-transition: 0.25s linear opacity;
				position:absolute;
			}
			#nnavv ul li{
				padding-top: 1px;
				float:none;
			}
			#nnavv ul a{
				mar
				display:block;
				white-space: nowrap;
			}
			#nnavv li:hover ul{
				left:0; 
				opacity:1;
			}
			#nnavv li:hover a{ 
				text-decoration:underline;
				background:rgba(109,15,53,0.74);
				background:#6e0c36;
			}
			#nnavv li:hover ul a{ 
				text-decoration:none;
				-webkit-transition:-webkit-transform 0.09s linear;
			}
			#nnavv li:hover ul li a:hover{ 
				-moz-transform:scale(1.07);
				-webkit-transform:scale(1.07);
				background:#334;
				background:rgba(50,50,50,0.74);
				text-decoration:underline;
			}